<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EntAppSecond</title>


    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        .field-validation-error {
            color: red;
            font-size: 80%;
            font-style: italic;
        }

        .validation-summary-erros {
            border: solid red;
        }
    </style>
   
</head>
<body>
    <div id="Header">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">WebSiteName</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="http://localhost:65525/Shared/BootStrapTest">Home</a></li>

                        <li><a href="http://localhost:65525/Shared/BootStrapTest2">Page 2</a></li>
                        <li><a href="http://localhost:65525/Shared/BootStrapTest3">Page 3</a></li>
                    </ul>

                </div>
            </div>
        </nav>
    </div>
        <h3>Coming from the layout page</h3>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; 12/02/2019 Stephen Aitken</p>
            </footer>
        </div>

        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        @RenderSection("Scripts", required: false)
</body>
</html>
